#title{margin:0px auto;
    background-color: black;
width: 100%;
height: 10px;
}
#header img{
width: 20%;}
#header ul{float: right;
margin-top: 25px;
}
#header ul li{
display: inline;


margin-right: 20px;
}
#header ul li a{color:black;
text-decoration: none;}
body{background-color: white;
    margin-right: 0%;
    font-size: 18px;
}
#container{background-color: white;

width: 70%;
margin:0px auto;}
#header{background-color: white;
width: 100%;
}
#next1 img{
width: 100%;
height:350px;}
#box1{background-color:#f86900;
width: 31%;
height:350px;
float:left;
margin:3% 2% 3% 0%;}
#box2{background-color:#ffc502;
width: 30%;
height:350px;
float: left;
margin:3% 2% 3% 2%;}
#box3{background-color:#a2c511;
width: 31%;
height:350px;
float: right;
margin:3% 0% 3% 2%;}
#next2{background-color:white;
width:58%;
height: 480px;
float: left;
margin-right: 1%;
overflow:hidden;}
#next3{background-color:white;
width:40%;
height: 480px;
float:right;
margin-left: 1%;
overflow:hidden;}

.heading{color: white;
font-size:28px ;
margin-left: 20px;
}
.heading1{color: black;
font-size:28px ;
margin-left: 20px;
}
.para{color: white;margin-left:20px;font-size: 20px;margin-right: 20px;}
.para1{color: black;margin-left:20px;font-size: 20px;margin-right: 20px;}

button{
    font-size: 10px;
    padding: 10px;
    margin-left:20px;
}
.r{
    margin-left: 20px;
    color: red;
}
#i{margin-left: 20px;
width:95%;
height: 70%;}
#footer{margin:0px auto;
    background-color: black;
width: 100%;
height: 80px;
clear: both;
margin: 0px auto;
}
#footer ul{    float:left;
    margin: 30px;
    margin-left: 10px;
}
#footer ul li{
text-decoration:none;
 display: inline;}
#footer ul li a{color: white;
    display: inline;
    text-decoration: none;
    padding: 20px;
    font-size: 18px;
}
#footer p{
    color: white;
    float: right;
    margin-right: 20px;
        margin: 30px;

}
